.overlay {
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  backdrop-filter: blur(10px);
  left: 0;
  z-index: 999999999;
  min-height: 100vh !important;
  overflow: hidden;
}

.overlay-content {
  z-index: 999999999;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 13% !important;
  text-align: center;
}

.overlay-content img {
  max-width: 500px;
}

.blancspacelogo-gif {
  background: transparent !important;
  background-color: transparent !important;
}

.Loader-width-class {
  width: 200px !important;
  height: 250px !important;
}

@media (max-width: 650px) {
  .Loader-width-class {
    margin: 180px 0px !important;
    width: 130px !important;
    height: 170px !important;
  }
}
