.person-profile {
  background-color: #ffffff !important;
  border: 2px solid #d00510;
  border-radius: 50%;
  padding: 9px;
  color: #777777;
  height: 90px;
  width: 90px;
}

@media (max-width: 650px) {
  .person-profile {
    background-color: #ffffff !important;
    border: 2px solid #d00510;
    border-radius: 50%;
    padding: 9px;
    color: #777777;
    height: 70px;
    width: 70px;
  }
}
