.header-background {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.container-header {
  background: #000000;
}

.Blancspace-Logo {
  max-width: 100% !important;
  width: 150px !important;
  height: auto !important;
}

.nav-rfq-calculator {
  display: flex;
  justify-content: end !important;
  gap: 0px;
  align-items: center !important;
}

.header-text {
  color: #ffffff;
  font-size: 17px !important;
  font-weight: 500;
  margin: 10px;
}
.navlink_text {
  font-family: "Bebas Neue", sans-serif;
  margin: 10px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.icon-search-color {
  color: #d00510 !important;
  font-size: 28px !important;
  cursor: pointer;
}

.home-icon-color {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff !important;
  font-size: 30px !important;
  cursor: pointer;
}

@media (max-width: 650px) {
  .navlink_text {
    font-family: "Bebas Neue", sans-serif;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
  }
}
