.Operational-hour-heading {
  color: #fff500 !important;
  text-transform: uppercase !important;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem !important;
  padding-right: 0.5rem !important;
}

.footer-background-color {
  background-color: #777777 !important;
  padding: 5px 60px !important;
}

.footer-main-col {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  margin: 0% !important;
}

.Days-bullets {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: 0.2rem !important;
}

.hours-bullets {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Weekdays-subtitles {
  flex-direction: column !important;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400 !important;
  font-size: 1.75rem !important;
  color: #ffffff !important;
}

.Weekdays-Time-Hours-subtitles {
  display: flex;
  gap: 10px;
  flex-direction: column !important;
  font-family: "Inter", sans-serif !important;
  font-weight: 400 !important;
  font-size: 1.5rem !important;
  color: #ffffff !important;
}

@media (max-width: 650px) {
  .footer-main-col {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin: 0% !important;
  }

  .Operational-hour-heading {
    padding-right: 30px !important;
    color: #fff500 !important;
    text-transform: uppercase !important;
    font-family: "Bebas Neue", sans-serif;
    font-size: calc(1.375rem + 1.5vw) !important;
  }

  .Weekdays-subtitles {
    padding: 2px 2px;
    flex-direction: column !important;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400 !important;
    font-size: calc(1.1rem + 0.6vw) !important;
    color: #ffffff !important;
  }

  .Weekdays-Time-Hours-subtitles {
    padding: 2px 30px;
    display: flex;
    gap: 10px;
    flex-direction: column !important;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 400 !important;
    font-size: calc(1.1rem + 0.6vw) !important;
    color: #ffffff !important;
  }

  .hours-bullets {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
